<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src='vendors/jquery-3.2.1.min.js'></script>
    <script type="text/javascript" src='scripts/client.js'></script>
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/main.css">
    <title>To Do App</title>
  </head>

  <body>
    <h1>To Do List</h1>
    <div class="listDisplay">
      <button id="cmdNew" class="cmdBtn" type="button" name="button">New Task</button>
      <br><br>
      <table id="tblToDo" class="table">
        <tr id="tblHead">
          <th class="tblHeader">Task</th>
          <th class="tblHeader">Priority</th>
          <th class="tblHeader">Due</th>
          <th class="tblHeader">Completed</th>
          <th class="tblHeader">Done</th>
          <th class="tblHeader">Remove</th>
        </tr>
        <tr>
          <td id="cellTask">
            <input class="input txtTask" type="text" name="txtTask" value="Finish Weekend Challenge 3">
          </td>
          <td id="cellPriority">
            <input class="input inputCenter txtPriority" type="text" name="txtPriority" value="High">
          </td>
          <td id="cellDue">
            <input class="input inputCenter dtmDue" type="text" name="dtmDue" value="Sat, 06/03/17">
          </td>
          <td id="cellComplete">
            <input class="input inputCenter dtmDue" value disabled="disabled" type="text" name="dtmComplete" value="06/03/17">
          </td>
          <td id="cellDone">
            <button id="cmdDone" class="cmdBtn" type="button" name="cmdDone">Done</button>
          </td>
          <td id="cellDone">
            <button id="cmdRemove" class="cmdBtn" type="button" name="cmdRemove">Remove</button>
          </td>
        </tr>
      </table>

    </div>

  </body>

</html>
