<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src='vendors/jquery-3.2.1.min.js'></script>
    <script type="text/javascript" src='scripts/client.js'></script>
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/main.css">
    <title>To Do App</title>
  </head>

  <body>
    <h1>To Do List</h1>
    <!-- START newTask -->
    <div class="newTask">
      <h3>Add New Task</h3>
      <label class="label" for="txtTask">Task: </label>
      <input id="txtNewTask" class="input new" type="text" name="txtTask" value="">
      <label class="label" for="">Due: </label>
      <input id="dtmNewDue" class="input new" type="date" name="dtmDue" value="">
      <button id="cmdAdd" class="cmdBtn" type="button" name="button">Add</button>
      <hr>
    </div>
    <!-- END newTask -->

    <!-- START listDisplay -->
    <div class="listDisplay">
      <h3>Task List</h3>
      <table id="tblToDo" class="table">
        <tr id="tblHead">
          <th class="tblHeader">Task</th>
          <th class="tblHeader">Due</th>
          <th class="tblHeader">Done</th>
          <th class="tblHeader">Remove</th>
        </tr>
      </table>
    </div>
    <!-- END listDisplay -->

  </body>

</html>
