h1, h2, h3, .listDisplay {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

.newTask {
  text-align: center;
}

.table {
  border: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.tblHeader {
  background-color: #D8D8D8;
  padding: 5px;
}

.cmdBtn {
  font-size: 13px;
}

.input {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  background: transparent;
  border: none;
  padding: 3px;
}

.inputCenter {
  text-align: center;
}

.tableHeader {
  font-size: 13px;
}

.txtTask {
  width: 250px;
}

.label {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.new {
  background-color: #A9F5E1;
}

.test {
  text-decoration: line-through;
  color: #D8D8D8;
}
